/* CSS document 16px=1rem */
* {
	 margin: 0, auto;
	 padding: 0;
	 box-sizing: border-box;
	 list-style-type: none;
	 text-decoration: none;
	 font-family: 'Cabin Condensed', sans-serif;
	}

@media screen and (max-width: 500px) {
		body { 
				  flex: 1;
				 }
		}

img {
		 max-width: 100%;
		 height: auto;
		}

.header {
				 background-color: #72C05B;
				 background-image: url(../images/class2b.jpg);
				 background-repeat: no-repeat;
				 background-attachment: fixed;
				 background-position: top;
				 width: 100%;
				 height: 25rem;
				 top: 0;
				 display: inline-flex;
				}

.header-flex-left {
									 display: flex;
							     flex-flow: row wrap;
									 color: #ffffff;
									 font-size: 1.5rem;
									 padding: 15rem 0 0 5rem;
						 			}

.header-title {
							 letter-spacing: 1px;
							 position: absolute;
							 margin: 6.2rem 0 0 20rem;
							}

.line-bg1 {
					 float: left;
					 width: 8px;
					 height: 44.6em;
					 margin: 8rem 0 0 -2rem;
					 background-color: #72C05B;
					}

.line-bg2 {
					 float: right;
					 position: relative;
					 width: 50em;
					 height: 8px;
					 margin: -7rem 0 0 1rem;
					 background-color: #72C05B;
					 z-index: -1;
					}

.flex-nav {
					 display: flex;
					 flex-flow: row wrap;
					 margin-top: -9rem;
					 justify-content: center;
					}

.flex-nav > li { 
								margin: 8px;
								padding: 8px;
								background-color: white;
								border: 6px solid #7ECEC8;
								width: 14rem;
								height: 4rem;
								font-size: 2rem;
								font-weight: 850;
								letter-spacing: 1px;
								color: #7ECEC8;
								text-align: center;
							 }

a:active {
					background-color: #A9EDE6;
					width: 14rem;
					height: 5rem;
				 }

/* Mid Content */
.classes {
					display: flex;
					flex-flow: row wrap;
					justify-content: flex-start;
					padding: 3rem 2rem 0 6rem;
				 }

.left-items {
						 width: 40%;
						 font-size: 1.5rem;
						 letter-spacing: 1px;
						 line-height: 25px;
						}

.mid-items {
						float: right;
						width: 700px;
						height: 700px;
						font-size: 1.5rem;
						margin-left: 5rem;
						letter-spacing: 1px;
						line-height: 25px;
					 }

.right-items {
							float: right;
							font-size: 1rem;
							letter-spacing: 1px;
							margin: 0 2rem 0 6rem;
							clear: both;
						 }

.sub {
			 font-size: 2rem;
			 letter-spacing: 1px;
			 color: #193F3B;
			}

.pics {
			 border: 3px solid #72C05B;
			 background-repeat: no-repeat;
			}

h2 {
		font-size: 1.3rem;
		color: #778482;
		line-height: 5px;
	 }

h3 { 
		font-weight: 700;
		color: #97DAF8;
	 }

article p {
					 font-size: 1.3rem;
					 line-height: 1.6rem;
					}

aside p {
				 line-height: 0.7rem;
				}

/* Footer Content */
.flex-footer {
						 	display: flex;
							flex-flow: row wrap;
							justify-content: flex-start;
						 }

.line-footer {
					 		width: 70em;
					 		height: 8px;
					 		margin: 5rem 0 0 3rem;
					 		background-color: #72C05B;
					 		background-size: 100%;
					 		z-index: 1;
						 }

h4 {
		background-color: #ffffff;
		border: 8px solid #72C05B;
		width: 14rem;
		height: 3rem;
		font-size: 1.2rem;
		text-align: center;
		margin: 3rem 0 0 0;
		padding: 0.3rem;
	 }